.body {
    background-color: black;
   
}
.page {
    width: 900px;
    height: 1500px;
    margin:  auto;
    box-shadow: 6px 6px 20px;
}

.photo {
    display: flex;
    margin: 10px 5px;
   }

img {
    width: 250px;
    height: 250px;
    margin: 20px;
}

.name {
    line-height: 10px;
    margin: auto;
}

.name h1 {
    line-height: 50px;
    margin: 15px 0px 25px;
}


.name span {
font-weight: 900;
}

.name p {
    padding-left: 20px;
}

@media screen and (max-width: 576px) { 
    .photo {
        display: block;
        
    }

    .name {
        width: 50%;
        margin: 5px;
        
    }
    img {
        width: 400px;
        height: 400px;
        margin:  5px;
    }
    .name h1 {
        line-height: 50px;
        margin: 0px 0px 25px;
    }
    
    
    .name span {
    font-weight: 900;
    }
    
    .name p {
        padding-left: 20px;
    }
}