body {
    background: #e5e5e5;
    font:14px 
    'ProximaNova-Regular', Arial, Helvetica, sans-serif;
    
}



.reg {
position:absolute;
height: 18px;
width: 501px;
left: 405px;
top: 13px;
}

.reg>span {
    text-decoration: underline;
}

.reg-button {
    background: #ffe8bd;
    border: none;
    position: absolute;
    width: 131px;
    height: 44px;
    left: 1295px;
    top: 0px;
    


}

.reg-img {
    position: absolute;
    width: 9px;
    height: 11px;
    left: 1443px;
    top: 15px;
}

.reg-entrance {
    position: absolute;
    font-family: 'ProximaNova-Regular';
    width: 39px;
    height: 44px;
    left: 1461px;
    top: 0px;
    padding:0px;
    border: none;
    background: #e5e5e5;

}

.as {
    position: absolute;
    width: 1920px;
    height: 89px;
    left: 0;
    top: 44px;
    background: #FFFFFF;
}

.logo {
    position: absolute;
    width: 60px;
    height: 50px;
    left: 405px;
    top: 19px;
}

.name {
    position: absolute;
    width: 136px;
    height: 18px;
    left: 474px;
    top: 36px;
    font-weight: 800;
}

.name span {
    color: #ffaf1e;
}

.basket  {
    position: absolute;
    width: 115px;
    height: 38px;
    left: 1400px;
    top: 25px;
    border: 1px solid #ffaf1e;
    border-radius: 3px;
    }

.basket img {
    position: absolute;
    width: 15px;
    height: 14px;
    left: 16px;
    top: 12px;
 
}

.basket button {
    position: absolute;
    width: 88px;
    height: 38px;
    left: 27px;
    top: 0px;
    border: none;
    padding: 0px;
    background: none;
    font-family: 'ProximaNova-Regular';
}

.holder {
    position: absolute;
    width: 1920px;
    height: 50px;
    left: 0px;
    top: 133px;
    background: #ffaf1e;

}

.holder button {
    position: absolute;
    height: 50px;
    padding: 0px;
    background: none;
    font-family: 'ProximaNova-Regular';
    border: none;
}

.holder-but1 {
    left: 435px;
}

.holder-but2 {
    left: 566px;
}

.holder-but3 {
    left: 695px;
}

.holder-but4 {
    left: 852px;
}

.holder-but5 {
    left: 1010px;
}

.holder-but6 {
    left: 1229px;
}

.holder-but7 {
    left: 1370px;
}

.search-box {
    position: absolute;
    width: 1100px;
    height: 110px;
    left: 405px;
    top: 219px;
    background: #ffffff;
}

.number {
    position: absolute;
    width: 198px;
    height: 18px;
    left: 17px;
    top: 19px;
    
}

.vin {
    position: absolute;
    width: 166px;
    height: 18px;
    left: 237px;
    top: 17px;
    color: #828282
}

.search {
    position: absolute;
    width: 964px;
    height: 38px;
    left: 17px;
    top: 54px;
    background: #f5f5f5;
    border-radius: 3px;
}

.search img {
    position: absolute;
    left: 12px;
    top: 13px;
    width: 13px;
    height: 13px;

 }

 .search input {
     position: absolute;
     width:286px;
     height: 18px;
     left: 39px;
     top: 11px;
     font-family: 'ProximaNova-Regular'; 
     border: none;
     background: none;
     padding: 0px;
     

 }

 .search-box button {
     position: absolute;
     left: 995px;
     top: 54px;
     width: 96px;
     height: 38px;
    background: #ffaf1e;
    border-radius: 3px;
    border: none;
    font-family: 'ProximaNova-Regular';

 }